
.perfect-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px);
    padding-right: 10px;
    &.form-scroll{
      height: calc(100vh - 260px) !important;
    }
  }
  .perfect-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
   
  .perfect-scrollbar::-webkit-scrollbar-track {
    background-color: #d1d1d1;
  }
   
  .perfect-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }