@media (max-width: 575px) {
  .login-form{
    padding:  0 24px;
  }
}
@media (max-width: 1400px) {
  #left-sidebar-expand.botleft {
    min-width: 300px;
    max-width: 300px;
  }
  .knowledgebase .aiactions .btn {
    min-width: 60px;
    font-size: 13px;
}
.knowledgebase {
  padding: 12px;
}
}
.hidesm{
  display: none;
}
@media (min-width: 1600px) {
  #left-sidebar-expand.botleft {
    min-width: 340px;
    max-width: 340px;
}
.hidesm{
  display: inline-block;
}
}
