.sky { color: skyblue; }
.cherry { color: red; }
.berry { color: purple; }
.radical { color: pink; }
.pearl { color: white; }
.default-color { color: gray; }
.yellow { color : yellow}
.orange { color:orange}
.light-green {color:lightseagreen}