<div class="content-box-wrapper d-flex w-100">
  <div class="middle-content d-flex">
    <div class="agent-page-main-content">
      <div
        class="create-user console-body-wrapper"
        data-scrollbar="true"
        tabindex="-1"
        style="overflow: hidden; outline: none"
      >
        <div class="scroll-content">
          <div class="row justify-content-center align-items-start h-auto pt-3">
            <div class="col-lg-12 h-100 row">
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/Facebook.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      Facebook
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#facebook"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/Instagram.png"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      Instagram
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#instagram"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/Twitter.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      Twitter
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#twitter"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/LinkedIn.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      LinkedIn
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#linkedin"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/whatsapp.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      WhatsApp
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#whatsapp"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="https://enteract.live/aibot/images/webchat.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      WebChat
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#webchat"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="../../../../assets/images/google-play.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">
                      PlayStore
                    </h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#playstore"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="https://enteract.live/aibot/images/emails.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">Email</h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#email"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 shortcut-box mb-3">
                <div class="card-body h-100 py-5 px-4 d-flex iceBg rounded">
                  <img
                    src="https://enteract.live/aibot/images/sdks.svg"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="ms-3 d-flex flex-grow-1">
                    <h5 class="night mb-0 mt-2 lh-base text fw-bold">SDK's</h5>
                    <div class="ms-auto">
                      <a
                        type="button"
                        data-bs-toggle="modal"
                        class="btn btn-outline-success btn-text"
                        data-bs-target="#email"
                        ><i class="fa fa-plug me-2"></i> Connect
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
