.ice {
  color: $ice !important;
}
.radicalBg {
  background-color: $radical !important;
  color: $ice !important;
}
.radicalTransBg {
  background-color: $radical40 !important;
  color: $radical !important;
}
.radical {
  color: $radical !important;
}
.radicalBorder {
  border: 1px solid $radical !important;
}
.warning {
  color: $warning !important;
}
.emeraldBg {
  background-color: $emerald !important;
  color: $ice !important;
}
.emeraldTransBg {
  background-color: $emerald40 !important;
  color: $emerald !important;
}
.emerald30sBg {
  background-color: $emerald30 !important;
  color: $emerald !important;
}
.emerald {
  color: $emerald !important;
}
.lightGreyBg {
  background-color: #eeebeb !important;
  color: #625c5cd6 !important;
}
.emeraldBorder {
  border: 1px solid $emerald !important;
}
.googleplaycolor{
  color:$googleplaycolor;
}
.skyBg {
  background-color: $sky !important;
  color: $ice !important;
}
.caolBg {
  background-color: $coal !important;
  color: $ice !important;
}
.skyTransBg {
  background-color: $sky40 !important;
  color: $sky !important;
}
.sky {
  color: $sky !important;
}
.oceanBg {
  background-color: #5454FB !important;
  color: $ice !important;
}
.oceanTransBg {
  background-color: $ocean40 !important;
  color: $ocean !important;
}
.ocean {
  color: $ocean !important;
}
.navyBg {
  background-color: $facebook !important;
  color: $ice !important;
}
.linkedinBg{
  background-color: $linkedinColor !important;
  color: $ice !important;
}
.linkedinTxt{
  color: $linkedinColor !important;
}
.navyTransBg {
  background-color: $navy40 !important;
  color: $navy !important;
}
.navy {
  color: $navy !important;
}
.pearlBg {
  background-color: $pearl !important;
  color: $ice !important;
}
.pearlTransBg {
  background-color: $pearl40 !important;
  color: $pearl !important;
}
.pearl {
  color: $pearl !important;
}
.berryBg {
  background-color: $berry !important;
  color: $ice !important;
}
.berryTransBg {
  background-color: $berry40 !important;
  color: $berry !important;
}
.berry {
  color: $berry !important;
}
.mintBg {
  background-color: $mint !important;
  color: $ice !important;
}
.mintTransBg {
  background-color: $mint40 !important;
  color: $mint !important;
}
.mint {
  color: $mint !important;
}
.darkMint {
  color: $darkMint !important;
}
.darkMintBg {
  background-color: $darkMint !important;
  color: $ice !important;
}
.cherryBg {
  background-color: $cherry !important;
  color: $ice !important;
}
.cherryTransBg {
  background-color: $cherry40 !important;
  color: $cherry !important;
}
.cherry {
  color: $cherry !important;
}
.roseBg {
  background-color: $rose !important;
  color: $ice !important;
}
.roseTransBg {
  background-color: $rose40 !important;
  color: $rose !important;
}
.rose {
  color: $rose !important;
}
.mangoBg {
  background-color: $mango !important;
  color: $ice !important;
}
.mangoTransBg {
  background-color: $mango40 !important;
  color: $mango !important;
}
.darkorangeBg{
  background-color: $darkorange !important;
  color: $ice !important;
}
.darkorange{
  color: $darkorange !important;
}
.mango {
  color: $mango !important;
}
.mustard {
  color: $mustard !important;
}
.mustardBg {
  background-color: $mustard !important;
  color: $ice !important;
}
.mustardBorder {
  border: 1px solid $mustard !important;
}
.sunBg {
  background-color: $sun !important;
  color: $ice !important;
}
.sunTransBg {
  background-color: $sun40 !important;
  color: $sun !important;
}
.sun {
  color: $sun !important;
}
.alertYellowBy {
  background-color: $alertYellow;
}
.alertYellow {
  color: $alertYellow;
}
.mintIceBg {
  background-color: $ice !important;
  color: $mint !important;
}
.nightBg {
  background-color: $night !important;
  color: $ice !important;
}
.night {
  color: $night !important;
}
.iceBg {
  background-color: $ice !important;
}
.ice {
  color: $ice !important;
}
.metalBg {
  background-color: $metal !important;
  color: $ice !important;
}
.metal {
  color: $metal !important;
}
.salt {
  color: $salt !important;
}
.saltBg {
  background-color: $salt !important;
}
.snow {
  color: $snow !important;
}
.snowBg {
  background-color: $snow !important;
  color: $ice !important;
}
.powderBg {
  background-color: $powder !important;
  color: $ice !important;
}
.powder {
  color: $powder !important;
}
.silver {
  color: $silver !important;
}
.coal {
  color: $coal !important;
}
.mehroon {
  color: $mehroon !important;
}
.charcoal {
  color: $charcoal !important;
}
.charcoalBg {
  background-color: $charcoal !important;
  color: $ice !important;
}
.darkblue {
  color: $darkblue !important;
}
.night {
  color: $night !important;
}
.slaHigh {
  background-color: $radical10 !important;
  border-color: $radical50 !important;
  &:hover {
    background-color: $radical20 !important;
  }
}
.slaMedium {
  background-color: $mango20 !important;
  border-color: $mango90 !important;
  &:hover {
    background-color: $mango30 !important;
  }
}
.slaLow {
  background-color: $sun20 !important;
  border-color: $sun !important;
  &:hover {
    background-color: $sun30 !important;
  }
}
.inkblue {
  color: $inkblue !important;
}
.inkblueBg {
  background-color: $inkblue !important;
  color: $ice !important;
}
.royalblue {
  color: $royalblue !important;
}
.royalblueBg {
  background-color: $royalblue !important;
  color: $ice !important;
}
.navytext {
  color: $navy !important;
}
.lightpinkbg {
  background-color: $lightpink !important;
}
.lightyellowbg {
  background-color: $lightyellow !important;
}
.lightbluebg {
  background-color: $lightblue !important;
}
.dardrown {
  color: $darkbrown;
}
.twltte-text {
  color: $twltter !important;
}
.twltte-bg {
  background-color: #5454FB !important;
}
.badge-danger {
  background-color: lighten($radical, 46%) !important;
  border: 1px solid lighten($radical, 30%) !important;
  color: $radical !important;
}
.webchatbg{
  background-color: $webchat;
}
.webchatcolor{
  color: $webchat;
}
.badge-warning {
  background-color: $lightorange !important;
  border: 1px solid $darkorange !important;
  color: $coal !important;
}
.badge-success {
  background: rgba(255, 255, 241, 0.60);
  border: 1px solid #A1E3C2 !important;
  color: $green !important;
}
.badge-parrot {
  background: rgba(195, 255, 241, 0.60);
  border: 1px solid #3A9685 !important;
  color: #3A9685 !important;
}
.black-text {
  color: $black !important;
}
.unread-msg {
  background-color: $sky30 !important;
  border: 1px solid $sky60 !important;
}
.darkblueBg{
  background-color: $darkblue !important;
  color: $ice !important;
}
.badge {
  padding: 0.35em 0.5em !important;
}
.unread-msg {
  background-color: $sky30 !important;
  border: 1px solid $sky60 !important;
}
.darkblueBg{
  background-color: $darkblue !important;
  color: $ice !important;
}
.offlinefilled{
  background-color: #FBD8DA;
  color: #832029;
  &:hover{
    background-color: #edc6c8;
    color: #4e151a;
  }
  &.active{
    background: #ef3e6f;
    color: #fff;
  }
}
.onlinefilled{
  background-color: #CCFBE3;
  color: #005E2E;
  &:hover{
    background-color: #ade5c8;
    color: #042012;
  }
  &.active{
    background-color: #1eb568;
    color: #fff;
  }
}
.grayfilled{
background-color: #DDE0E2;
color: #3D596D;
  &:hover{
    background-color: #c7c8c9;
    color: #304350;
  }
}
.successbg{
  background-color:#dcf0e6;
  color: #3DC480;
}
.errorbg{
  background-color:#f9dfe1 !important;
  color: #FF505C !important;
}
.processingBg{
  color: #F6AA54;
}
.lightink{
  color: $lightink;
}
.lightpurple{
  color:  $lightpurple;
}
.lightorange2{
  color:  $lightorange2;
}
.lightred{
  color:  $lightred;
}
.skyblue{
  color: $skyblue;
}
.skyblue{
  color: $skyblue;
}
.purple{
    color: $purple;
}
.facebook{
  color: $facebook;
}
.youtube{
  color: $youtube;
}

.text-primary{
  color: $brand-primary !important;
}

.botgreenbg{
  background-color: $botgreen !important;
  color: $ice !important;
}
.botgreenlightbg{
  background-color: $botgreenlight !important;
}